body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-repeat: no-repeat;
    /* margin-top:200px; */
}
a{
  color: #b788f5;
}
a:link {
  text-decoration: none;
}/* mouse over link */
a:hover {
  color: hotpink;
}

.aideone{
  font-size: 36px;
  font-family: sans-serif;/* 
  font-style: normal; 
  font-weight: 200; */
  line-height: 38px; 
  color: #000; 
  letter-spacing: 2.5px; 
  text-shadow:  5px 5px 5px rgb(225, 225, 225);
}
/*-- scroll up --*/
#toTop{
  position: fixed;
  bottom: 100px;
  right: 30px;
  cursor: pointer;
  display: none;
  background-color: transparent;
}
/*scroll up ends*/

/*----------------------Typewriter--------------------*/
/*
* { color:#fff; text-decoration: none;}*/
/*-------------------Typewriter effect ends-----------*/

/*-----------------video header-----------------*/
  
header {
  position: relative;
   background-color: transparent; /*black; */
  height: 90vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .contain {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
}

/*-------------videoheader ends-----------------*/
/*----------------head slider ------------------*/
.heading-box h1{ width:100%; color: red; font-size: 49px; }
.text-box {

  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

/*-----------------head slider ends-------------*/

.space{
  margin-top: 130px !important;
  margin-bottom: 50px !important;
}
.space-400{
  margin-top: 50px !important;
  margin-bottom: 100px !important;
}
.space-200{
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}
/*------------Loader--------------*/
 #circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 150px;
    height: 150px;  
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #09f;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
100% {transform: rotate(360deg);}
} 

/*--------------------Loader ends----------------*/
/* -----------Nav bar------------ */
/* @media all and (min-width: 992px) {
  .navbar{ padding-top: 0; padding-bottom: 0; }
  .navbar .has-megamenu{position:static!important;}
  .navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
  .navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
    } */

    /* ============ desktop view ============ */
    /* @media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: #fff;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item:hover .dropdown-menu{ background-color: #fff !important; }
    .navbar .nav-item:hover .dropdown-menu{ color:#fff !important; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
    .navbar a:hover {color: hotpink;}
    }	
    .navbar a:hover {
      background: #ddd;
    } */

    .nav-item {
      position: relative;
    }
    
    .navbar-collapse ul li a.nav-link:before {
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 2px;
        background: transparent;
        content: '';
        opacity: 0;
        -ms-transition: opacity 0.3s, -webkit-transform 0.3s;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -ms-transform: translateY(10px);
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    
    .navbar-collapse ul li:hover a.nav-link:before {
      opacity: 1;
      -ms-transform: translateY(0px);
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
      bottom: 0px;
      background: #dd4343;
    }
    
    .dropdown-item:hover, .dropdown-item:focus {
        color: #ffffff;
        text-decoration: none;
        background-color: #dd4343;
    }
     
.dropdown:hover .dropdown-content {display: block;}
    .dropdown-menu {
      border: 0px;
    }
    
      
    /* ============ desktop view .end// ============ */


.bg-light{
	background: rgba(251, 251, 252, 0.95) !important;
	transition: 0.85s ease;
  }
  .bg-light.scrolled{
	background:rgba(2, 13, 41, 1) !important;
	box-shadow: 0px 10px 10px 0px rgba(91, 91, 91, 0.45);
  color: #fff !important; 
  
  }
  
  .navbar {
  color: #000;
  }
  
  /* -----------Navbar ends-------- */
/* --------------Divided Section------------ */

@media all and (min-width: 992px) {
.divider{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 400px;
  
  background: #f00;
  box-shadow:0px 25px 30px rgba(0,0,0,.5);
  display: flex;
}
.dividercontent{
  width: calc(50% - 50px);
  height: 100%;
  background:#020d29;
  box-sizing: border-box;
  padding: 30px 50px;
  color: #fff;
  font-family: sans-serif;
  line-height: 25px;
  
}
.image-box{
     width: calc(50% + 50px);
  height: 100%;
  background:#da291c;
  box-sizing: border-box;
  border-left: 100px solid #020d29;
  border-bottom: 400px solid transparent;
  background: url(../images/businessman-2682712_1920.jpg);
  background-position: -350px -59px;
  background-repeat: no-repeat;
}
}
/* ------------Section divider------ */

  /* -------------------------------- button---------------------------------- */
/*
  button .navbar-toggler{

    background-color: #FFF;  
    border: 2px solid #262679;
    border-color: #e91c58;
    color: #000;  
  }*/
                  /*-------navbar-toggler------*/
                   /*-------button------*/
  .btn {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900; 
    color: black; 
    border: 2px solid #496199; 
  }
    .btn:hover, .btn:active, .btn:focus {
      outline: none;
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border-color: #e91c58;
      color: #000; 
    } 

    .button{
      background-color: #004A7F;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      border: none;
      color: #FFFFFF;
      cursor: pointer;
      display: inline-block;
      font-family: Arial;
      font-size: 20px;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      -webkit-animation: glowing 1500ms infinite;
      -moz-animation: glowing 1500ms infinite;
      -o-animation: glowing 1500ms infinite;
      animation: glowing 1500ms infinite;
    }
      @-webkit-keyframes glowing {
        0% { background-color: #496199; -webkit-box-shadow: 0 0 3px #496199; }
        50% { background-color: #e91c58; -webkit-box-shadow: 0 0 40px #e91c58; }
        100% { background-color: #496199; -webkit-box-shadow: 0 0 3px #496199; }
      }

      @-moz-keyframes glowing {
        0% { background-color: #496199; -moz-box-shadow: 0 0 3px #496199; }
        50% { background-color: #e91c58; -moz-box-shadow: 0 0 40px #e91c58; }
        100% { background-color: #496199; -moz-box-shadow: 0 0 3px #496199; }
      }

      @-o-keyframes glowing {
        0% { background-color: #496199; box-shadow: 0 0 3px #496199; }
        50% { background-color: #e91c58; box-shadow: 0 0 40px #e91c58; }
        100% { background-color: #496199; box-shadow: 0 0 3px #496199; }
      }

      @keyframes glowing {
        0% { background-color: #496199; box-shadow: 0 0 3px #496199; }
        50% { background-color: #e91c58; box-shadow: 0 0 40px #e91c58; }
        100% { background-color: #496199; box-shadow: 0 0 3px #496199; }
      }
/*    .glow {
      font-size: 24px;
      color: #fff;
      text-align: center;
      -webkit-animation: glow 1s ease-in-out infinite alternate;
      -moz-animation: glow 1s ease-in-out infinite alternate;
      animation: glow 1s ease-in-out infinite alternate;
    }

      @-webkit-keyframes glow {
        from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
      }
  
      to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
      }
    }*/

  /* ------------------------------- button ends--------------------------------- */

/*-----------------------------------best for you-------------------------------------*/
  /*section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #fff;
}
.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.wrap:hover {
    background: linear-gradient(135deg,rgba(99,148,255,0.25) 0%,rgba(10,25,59,0.24) 100%);
    color: white;
}

.ico-wrap {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}
.mbr-bold {
    font-weight: 700;
}

 p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}
.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1re}

.service_tab_1:hover .fa-icon-image{
    color: #e91c58;
    transform: rotate(360deg) scale(1.5);
}

.fa-icon-image{
  color: rgba(2,13,41,.9);
  display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    font-size-adjust: none;
    font-stretch: normal;
    -moz-font-feature-settings: normal;
    -moz-font-language-override: normal;
    text-rendering: auto;
    transition: all .65s linear 0s;
    text-align: center;
    transition: all 1s cubic-bezier(.99,.82,.11,1.41);
}*/




section{
  padding: 60px 0;
}
section .section-title{
  text-align:center;
  color:#007b5e;
  margin-bottom:50px;
  text-transform:uppercase;
}
#what-we-do{
  background:#ffffff;
}
#what-we-do .card{
  padding: 1rem!important;
  border: none;
  margin-bottom:1rem;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#what-we-do .card:hover{
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(233, 28, 88, 0.45);
}
#what-we-do .card .card-block{
  padding-left: 50px;
    position: relative;
}
#what-we-do .card .card-block a{
  color: #020d29 !important;
  font-weight:700;
  text-decoration:none;
}
#what-we-do .card .card-block a i{
  display:none;
  
}
#what-we-do .card:hover .card-block a i{
  display:inline-block;
  font-weight:700;
  
}
#what-we-do .card .card-block:before{
  font-family: FontAwesome;
    position: absolute;
    font-size: 39px;
    color: #020d29;
    left: 0;
  -webkit-transition: -webkit-transform .2s ease-in-out;
    transition:transform .2s ease-in-out;
}
#what-we-do .card .block-1:before{
    content: "\f0e7";
}
#what-we-do .card .block-2:before{
    content: "\f0eb";
}
#what-we-do .card .block-3:before{
    content: "\f00c";
}
#what-we-do .card .block-4:before{
    content: "\f209";
}/*
#what-we-do .card .block-5:before{
    content: "\f0a1";
}
#what-we-do .card .block-6:before{
    content: "\f218";
}*/
#what-we-do .card:hover .card-block:before{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);  
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}


/*---------------------------------best for you ----------------------------------*/
/* -------------------------------------Services for index2-----DO NOT DELETE--------------------------------- */
.serviceBox{
  color: #606060;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px 37px 45px;
  border-radius: 0 0 110px 110px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.serviceBox:before,
.serviceBox:after{
  content: '';
  background: linear-gradient(to right,#020d29,#e91c58);
  border-radius: 5px 5px 0 0;
  position: absolute;
  left: 0;
  top: 25%;
  bottom: 0;
  right: 0;
  z-index: -1;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}
.serviceBox:after{
  background: linear-gradient(#fff,rgba(255,255,255,0.85),#fff);
  border-radius: 20px 20px 100px 100px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  left: 15px;
  top: 15px;
  bottom: 15px;
  right: 15px;
  clip-path: none;
}
.serviceBox .service-icon{
  color: #000;
  font-size: 45px;
  text-align: right;
  margin: 0 0 15px 0;
}
.serviceBox:hover .service-icon i{
  transform: rotateY(360deg);
  transition: all 0.3s;
}
.serviceBox .title{
  color: #3EAE40;
  font-size: 19px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px;
}
.serviceBox .description{
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
  margin: 0 0 10px;
}
.serviceBox .read-more{
  color: #3EAE40;
  font-size: 15px;
  text-decoration: underline;
  display: inline-block;
  transition: all 0.3s ease;
}
.serviceBox .read-more:hover{
  color: #333;
  text-shadow: 0 0 3px rgba(0,0,0,0.5);
}
/* .serviceBox.green:before{ background: linear-gradient(to right,#e91c58,#020d29); }
.serviceBox.green .title,
.serviceBox.green .read-more{ color: #037389; }
.serviceBox.green .read-more:hover{ color: #333; } */
.serviceBox.blue:before{ background: linear-gradient(to left,#020d29,#e91c58); }
.serviceBox.blue .title,
.serviceBox.blue .read-more{ color: #0374EA; }
.serviceBox.blue .read-more:hover{ color: #333; }
/*.serviceBox.purple:before{ background: linear-gradient(to right,#884FBA,#891BDE); }
 .serviceBox.purple .title,
.serviceBox.purple .read-more{ color: #891BDE; }
.serviceBox.purple .read-more:hover{ color: #333; } */
@media only screen and (max-width:990px){
  .serviceBox{ margin: 0 0 30px; }
}
/* -----------------------------------Services index2 ends----------------------------------- */


/*-------------------------------------Counter-Column--------------------------------------*/
  .counter {
    background-color:rgba(2, 13, 41, 0.05);
    padding: 20px 0;
    border-radius: 5px;
    color: #020d29;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #020d29;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #020d29;
}
/*---------------------------------Counter Column ends-------------------------------------*/

/*--------------------------------parallax section-----------------------------------------*/
.ha-bg-parallax {

    background: url(../images/profits-1953616.jpg) 100% -195px no-repeat fixed;

    -moz-background-size: cover;

    -o-background-size: cover;

    -webkit-background-size: cover;

    background-size: cover;

    height: 600px;

    margin: 0 auto;

    width: 100% !important;

    display: table;

    vertical-align: all;

}



.ha-bg-parallax .ha-parallax-body {

    display: table-cell;

    vertical-align: middle;

}



.ha-bg-parallax .ha-content-whitecolor {

    font-size: 17px;

    color: #ffffff;

    width: 75%;

    margin: auto;

}



.ha-bg-parallax .ha-diamond-divider-md {

    margin: 15px 0px;

}



.ha-bg-parallax .ha-heading-parallax {

    font-style: italic;

    font-weight: bold;

    text-transform: none;

    color: #ffffff;

    padding-bottom: 0px;

}


div.clear
{
    clear: both;
}

div.product-chooser{
    
}

    div.product-chooser.disabled div.product-chooser-item
    {
    zoom: 1;
    filter: alpha(opacity=60);
    opacity: 0.6;
    cursor: default;
  }

  div.product-chooser div.product-chooser-item{
    padding: 11px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    border: 1px solid #efefef;
    margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10x;
  }
  
  div.product-chooser div.product-chooser-item.selected{
    border: 4px solid #428bca;
    background: #efefef;
    padding: 8px;
    filter: alpha(opacity=100);
    opacity: 1;
  }
  
    div.product-chooser div.product-chooser-item img{
      padding: 0;
    }
    
    div.product-chooser div.product-chooser-item span.title{
      display: block;
      margin: 10px 0 5px 0;
      font-weight: bold;
      font-size: 12px;
    }
    
    div.product-chooser div.product-chooser-item span.description{
      font-size: 12px;
    }
    
    div.product-chooser div.product-chooser-item input{
      position: absolute;
      left: 0;
      top: 0;
      visibility:hidden;
    }

    div.mt { 
        align-items: center;
}

/*------------------------------parallax section ends--------------------------------------*/

/* -------------------------------------Team index2------------------------------------------ */

#team {
  background: #fff !important;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #6610f2;
  border-color: #6610f2;
  box-shadow: none;
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #020d29;
  border-color: #020d29;
}

section {
  padding: 60px 0;
}

section .section-title {
  text-align: left !important;
  color: #212529 !important;
  margin-bottom: 50px;
  text-transform: none !important;
}

#team .card {
  border: none;
  background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.mainflip {
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
  position: relative;
}

.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}

.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 1s;
  -moz-transform-style: preserve-3d;
  -o-transition: 1s;
  -o-transform-style: preserve-3d;
  -ms-transition: 1s;
  -ms-transform-style: preserve-3d;
  transition: 1s;
  transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
  min-height: 312px;
}

.backside .card a {
  font-size: 18px;
  color: #020d29 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
  color: #020d29 !important;
}

.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
/* -----------------------------------Team index2 ends------------------------------*/


  /* -------------------------------Insights--------------------------------------- */
  
.cta-100 {
  margin-top: 100px;
  padding-left: 8%;
  padding-top: 7%;
}
.col-md-4{
    padding-bottom:20px;
}

.white {
  color: #fff !important;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
  background-color: #020d29 !important;
}
figure img{width:300px;}

#blogCarousel {
  padding-bottom: 100px;
}

.blog .carousel-indicators {
  left: 0;
  top: -50px;
  height: 50%;
}


/* The colour of the indicators */

.blog .carousel-indicators li {
  background: #020d29;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.blog .carousel-indicators .active {
  background: #e91c58;
}




.item-carousel-blog-block {
  outline: medium none;
  padding: 15px;
}

.item-box-blog {
  border: 1px solid #dadada;
  text-align: center;
  z-index: 4;
  padding: 20px;
}

.item-box-blog-image {
  position: relative;
}

.item-box-blog-image figure img {
  width: 100%;
  height: auto;
}

.item-box-blog-date {
  position: absolute;
  z-index: 5;
  padding: 4px 20px;
  top: -20px;
  right: 8px;
  background-color: #41cb52;
}

.item-box-blog-date span {
  color: #fff;
  display: block;
  text-align: center;
  line-height: 1.2;
}

.item-box-blog-date span.mon {
  font-size: 18px;
}

.item-box-blog-date span.day {
  font-size: 16px;
}

.item-box-blog-body {
  padding: 10px;
}

.item-heading-blog a h5 {
  margin: 0;
  line-height: 1;
  text-decoration:none;
  transition: color 0.3s;
}

.item-box-blog-heading a {
    text-decoration: none;
}

.item-box-blog-data p {
  font-size: 13px;
}

.item-box-blog-data p i {
  font-size: 12px;
}

.item-box-blog-text {
  max-height: 100px;
  overflow: hidden;
}

.mt-10 {
  float: left;
  margin-top: -10px;
  padding-top: 10px;
}

.btn.bg-blue-ui.white.read {
  cursor: pointer;
  padding: 4px 20px;
  float: left;
  margin-top: 10px;
}

.btn.bg-blue-ui.white.read:hover {
  box-shadow: 0px 5px 15px inset #4d5f77;
}

  /* ------------------------------Insights ends----------------------------------- */

/*----------------------------------Client section----------------------------------*/
  .slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*-------------------------------Client section ends--------------------------------*/

/*----------------------------------Testimonials------------------------------------*/

  

.card-main {
    padding: 50px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px 0px #283593
}

.card-0 {
    color: #fff;
    background-color: #020d26;
    position: relative;
    margin-left: 70px;
    border-radius: 10px;
    min-height: 312px
}

.carousel-indicators li {
    cursor: pointer;
    border-radius: 50% !important;
    width: 10px;
    height: 10px
}

.profile {
    color: #000;
    background-color: #e91c58;
    position: absolute;
    left: -70px;
    top: 17%;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px
}

.open-quotes {
    margin-left: 130px;
    margin-top: 100px
}

.content {
    margin-left: 150px;
    margin-right: 80px
}

.close-quotes {
    margin-bottom: 60px;
    margin-right: 60px
}

@media screen and (max-width: 600px) {
    .card-main {
        padding: 50px 10px
    }

    .card-0 {
        min-height: 432px
    }

    .profile {
        top: 24%
    }

    .profile-pic {
        width: 90px;
        height: 90px
    }

    .open-quotes {
        margin-left: 100px
    }

    .content {
        margin-left: 120px;
        margin-right: 50px
    }

    .close-quotes {
        margin-right: 30px
    }
}

/*-------------------------------Testimonials ends----------------------------------*/

/*------------------------------Academy/Contact section-----------------------------*/

.academy_section {
  display: block;
  overflow: hidden;
}
.academy_section:after {
  display: block;
  clear: both;
  content: "";
}
.academy_section .about_content {
  background-color: #020d26;
  padding-top: 77px;
  padding-right: 210px;
  padding-bottom: 62px;
  position: relative;
}
.academy_section .about_content .background_layer {
  background-color: #020d26;
  width: auto;
  margin-left: -200px;
  right: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.academy_section .about_content .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.academy_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.academy_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.academy_section .about_content .layer_content .section_title h5 {
  color: #fff;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.academy_section .about_content .layer_content .section_title h2 {
  font-family: "Titillium Web";
  font-weight: 300;
  font-size: 45px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: #fff;
}
.academy_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.academy_section .about_content .layer_content .section_title .heading_line {
  position: relative;
}
.academy_section .about_content .layer_content .section_title .heading_line span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.academy_section .about_content .layer_content .section_title .heading_line span:after {
  content: "";
  right: auto;
  left: 69px;
  position: absolute;
  bottom: 28px;
  width: 17px;
  margin-left: 0;
  border-bottom-width: 3px;
  border-bottom-color: #cacaca;
  border-bottom-style: solid;
}
.academy_section .about_content .layer_content .section_title .heading_line:after {
  content: "";
  left: 1%;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #e91c58;
}
.academy_section .about_content .layer_content .section_title p {
  color: #fff;
  margin: 0 0 15px;
}
.academy_section .about_content .layer_content .section_title ul {
  color: #fff;
  margin: 0 0 15px;
}
.academy_section .about_content .layer_content a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.academy_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.academy_section .about_content .layer_content a:hover {
  color: #e91c58;
}
.academy_section .academy_box {
  margin-top: 60px !important;
  position: relative;
}
.academy_section .academy_box .academy_container {
  background-color: #e91c58;
  margin-left: -170px !important;
  position: relative;
}
.academy_section .academy_box .academy_container .background_layer {
  background-color: #e91c58;
  width: auto;
  margin-right: -200px;
  right: 0;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
.academy_section .academy_box .academy_container .layer_content {
  position: relative;
  z-index: 9;
  height: 100%;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel {
  display: block;
  position: relative;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy {
  margin: 10px 0 10px 0;
  padding: 62px 0px 72px 50px;
  position: relative;
  text-align: center;
  color: #fff !important;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
  margin-left: 150px;
  margin-top: 69px;
  padding: 45px 40px 45px 40px;
  z-index: 1;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease-in-out 0s;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content .testimonial_caption {
  margin-bottom: 15px;
  position: relative;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content .testimonial_caption:after {
  content: "";
  width: 30px;
  display: block;
  height: 2px;
  text-align: center;
  left: 46%;
  margin-top: 6px;
  background-color: #e91c58;
  position: absolute;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content .testimonial_caption h6 {
  padding-top: 0;
  margin-bottom: -5px;
  font-size: 19px;
  font-weight: 600;
  line-height: 24px;
  color: #020d26;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content .testimonial_caption span {
  font-size: 12px;
  color: #9f9f9f;
  margin: 0;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .testimonial_content p {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .images_box .testimonial_img {
  border: none;
  position: absolute;
  top: 0;
  left: 55px;
  top: 80px;
}
.academy_section .academy_box .academy_container .layer_content .testimonial_owlCarousel .academy .images_box .testimonial_img img {
  border: 5px solid #fff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  width: 35%;
}
.academy_section .academy_box .academy_container .owl-nav .owl-prev {
  position: absolute;
  top: 165px;
  right: 42px;
  border-radius: 0;
  background: #e91c58;
  display: block;
  outline: 0;
  width: 34px;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.academy_section .academy_box .academy_container .owl-nav .owl-prev:hover {
  background: #020d26;
}
.academy_section .academy_box .academy_container .owl-nav .owl-next {
  position: absolute;
  top: 165px;
  right: 5px;
  border-radius: 0;
  display: block;
  background: #e91c58;
  outline: 0;
  width: 34px;
  text-align: center;
  line-height: 34px;
  height: 34px;
  color: #fff;
  font-size: 23px;
  margin-top: -20px;
  transition: all 0.3s ease-in-out;
}
.academy_section .academy_box .academy_container .owl-nav .owl-next:hover {
  background: #020d26;
}

@media all and (max-width: 991px) {
  .academy_section .about_content {
    padding-right: 15px !important;
  }
  .academy_section .about_content .background_layer {
    width: 200% !important;
  }
  .academy_section .academy_box {
    margin-top: 0 !important;
  }
  .academy_section .academy_box .background_layer {
    width: 200% !important;
    margin-left: -200px;
  }
  .academy_section .academy_box .about_content {
    padding-left: 15px !important;
    padding-right: 15px !important;
    margin-top: 28% !important;
  }
  .academy_section .academy_box .academy_container {
    margin-left: -15px !important;
  }
  .academy_section .academy_box .academy_container .academy {
    margin: 0px 0 20px 0;
  }
  .academy_section .academy_box .academy_container .academy .testimonial_content {
    margin-left: -36px !important;
  }
  .academy_section .academy_box .academy_container .academy .images_box {
    display: none;
  }
}*/
/*-------------------------------Academy/Contact section Ends-----#e91c58----------------------------*/

/* ---------------------------Careers Homepage-------------------------------------- */
/* 

.masthead {
  padding: 3rem 0 7rem;
  position: relative;
  background-color: #dd3d31 !important;
  background-image: url(https://startbootstrap.com/assets/img/overlay.svg), linear-gradient(45deg, #dd3d31 0%, #d22f23 100%);
  background-size: cover;
  z-index: 0;
  margin-top: 30px;
}

.masthead svg.wave {
  position: absolute;
  bottom: -1px;
  left: 0
}

.masthead h1 {
  color: #000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.1;
  z-index: 1
}

.masthead h2 {
  color: rgba(255, 255, 255, .6);
  font-weight: 600;
  z-index: 1;
  font-size: 1.2rem
}

.masthead a {
  color: rgba(255, 255, 255, .8);
  text-decoration: underline;
  z-index: 1
}

.masthead a:hover {
  color: #fff
}

.masthead a:active {
  text-decoration: none
}

@media(min-width:992px) {
  .masthead h1 {
      font-size: 3rem
  }
  .masthead h2 {
      font-size: 1.5rem
  }
}

.masthead .masthead-cards {
  position: relative;
  z-index: 1
}

.masthead .masthead-cards .shape {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%
}

.masthead .masthead-cards .card {
  opacity: 1;
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: .05rem;
  color: #212529;
  transition: .15s all
}

.masthead .masthead-cards .card:hover {
  margin-top: -.25rem;
  margin-bottom: .25rem
}

.masthead .masthead-cards .card:active {
  margin-top: inherit;
  margin-bottom: inherit
}

.masthead .masthead-cards .card.border-bottom-blue:hover {
  color: #2092ed
}

.masthead .masthead-cards .card.border-bottom-green:hover {
  color: #28a745
}

.masthead .masthead-cards .card.border-bottom-red:hover {
  color: #dd3d31
}

.masthead .masthead-cards .card.border-bottom-yellow:hover {
  color: #ffc107
}

.masthead-page {
  padding: 1rem 0 4rem
}

@media(min-width:992px) {
  .masthead-page h1 {
      font-size: 2.5rem
  }
}

.border-bottom-yellow {
  border-color: #ffc107!important;
}

.border-bottom-red {
  border-color: #dd3d31!important;
}

.border-bottom-blue {
  border-color: #2092ed!important;
}

.border-bottom-green {
  border-color: #28a745!important;
}

.border-bottom-blue, .border-bottom-green, .border-bottom-red, .border-bottom-yellow {
  border-bottom: .4rem solid!important;
}
.shadow-lg {
  box-shadow: 0 2rem 1.5rem -1.5rem rgba(33,37,41,.15),0 0 1.5rem .5rem rgba(33,37,41,.05)!important;
}
.border-0 {
  border: 0!important;
} */

/* --------------------------Careers Home Ends------------------------------------- */

/* ------------------------------Contact Homepage------------------------------------------ */

.pb-100 {
	padding-bottom: 100px;
}
.pt-100 {
	padding-top: 100px;
}
.mb-100 {
	margin-bottom: 100px;
}
a {
	text-decoration: none;
	/* color: #333; */
	-webkit-transition: .4s;
	transition: .4s;
}
.section-title {
	position: relative;
}
.section-title p {
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: 400;
}
.section-title h4 {
	font-size: 40px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	padding-bottom: 20px;
	display: inline-block;
}
.section-title h4::before {
	position: absolute;
	content: "";
	width: 80px;
	height: 2px;
	background-color: #d8d8d8;
	bottom: 0;
	left: 50%;
	margin-left: -40px;
}
.section-title h4::after {
	position: absolute;
	content: "";
	width: 50px;
	height: 2px;
	background-color:#e91c58;
	left: 0;
	bottom: 0;
	left: 50%;
	margin-left: -25px;
}
.contact {
	background-size: cover;
	background-position: center;
  background-attachment: fixed;
	position: relative;
	z-index: 2;
	color: #fff;
}

.details {
  background-color: #020d26;
  border-radius: 7px;
  padding-top: 40px;
}
.contact-form input,
textarea {
	width: 100%;
  border: 1px solid #ff4da6;
  border-radius: 5px;
	padding: 5px 10px;
	text-transform: capitalize;
	margin-top: 15px;
	background-color: transparent;
	color: #000;
}
.contact:before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #fff;
	z-index: -1;
	opacity: .85;
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)"; */
}
.single-contact {
	text-align: left;
	position: relative;
	padding-left: 70px;
	margin-bottom: 50px;
	margin-top: 10px;
}
.single-contact i.fa {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	        transform: translateY(-50%);
	background-color:#e91c58;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 3px;
}
.single-contact h5 {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 500;
}
.single-contact p {
	font-size: 15px;
	font-weight: 400;
}
.contact-form input[type="submit"] {
	background-color:#e91c58;
	border: 0px;
	cursor: pointer;
	font-size: 16px;
	-webkit-transition: .4s;
	transition: .4s
}
.contact-form input[type="submit"]:hover {
	background-color: #e91c58
}
.contact-form input:focus, textarea:focus {
	border-color: #e91c58
}


/* ---------------------------Contact Homepage Ends-------------------------------------- */

/* -----------------------Services1 Homepage------------------------------- */



/* -----------------------Services1 Homepage Ends------------------------------- */


/* -------------------------Services HomePage-----------------------------*/
.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: #041b50 !important;
  /* background: rgb(119, 105, 250) !important; */
  background: #fff !important;
  border: 4px solid #e91c58;
  border-radius: 5px;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #e91c58;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}




/* -------------------------Services HomePage Ends----------------------------- */

/* Breadcum bar */
.bread-bar {
  background: #0d0e5c;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  min-height: 40px;
  height: auto;
  position: relative;
  z-index: 555;
}
.breadcrumb {
  background: none;
  margin: 0;
  font-weight: 300;
  padding-left: 0;
  font-size: 13px;
}
.breadcrumb a {
  color: #fff;
}
.breadcrumb > .active {
  color: #fff;
}
.breadcrumb > li + li::before {
  content: "\203A";
  color: #999;
  padding: 0 8px;
}
/* Breadcum bar ends */
  /*----------------------------------Footer----------------------------------------*/

section .section-title {
    text-align: center;
    color: #020d29;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #020d29 !important;
    color: #fff;
}
#footer h5{
  padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #eee;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
  padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
  font-size:25px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.social li:hover a i {
  font-size:30px;
  margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#ffffff;
}
#footer ul.social li a:hover{
  color:#eeeeee;
}
#footer ul.quick-links li{
  padding: 3px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 3px 0;
  margin-left:5px;
  font-weight:700;
  color: #ff0000;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
  #footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/*--------------------------------Footer ends--------------------------*/


/*--------------------------------Footer glow--------------------------*/





/*--------------------------------Footer glow ends--------------------------*/